*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: black;
}

.calculator-grid {
  background: lightgray;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 5px;
}

#inputLabel {
  margin: 2%;
  padding: 2%;
  background: lightblue;
  border: darkgrey;
  width: 96%;
  text-align: right;
  font-size: 40px;
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 15px;
  /* border: 1px solid white; */
}

button {
  padding: 20px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
}

.span-two {
  grid-column: span 2;
}
